<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anotherclass.bitcamp.dao.admin.MemberMangementDAO">
	<select id="MemberList" parameterType="com.anotherclass.bitcamp.register.RegisterVO" resultType="com.anotherclass.bitcamp.register.RegisterVO">
		<![CDATA[
		 SELECT p_num, member_id, member_name, member_email, member_tel, signupdate  FROM (SELECT a.*, ROWNUM as p_num FROM 
         (SELECT member_id, member_name, member_email, member_tel, signupdate
         FROM memberTbl ORDER BY signupdate DESC, member_name ASC) a)
         where p_num >=1 and p_num<=15
         ]]>
	</select>
	<select id="boardLimit" parameterType="com.anotherclass.bitcamp.register.RegisterVO">
		call paging_member_account(
			#{num_information_one, mode=IN, jdbcType=NUMERIC, javaType=INTEGER}
			);
	</select>
</mapper>