<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.anotherclass.bitcamp.dao.register.RegisterDAO">
	<insert id="userAccountJoin" parameterType="com.anotherclass.bitcamp.register.RegisterVO">
		call ex_account_in(
			#{member_id, mode=IN, jdbcType=VARCHAR, javaType=String}, 
			#{member_pw, mode=IN, jdbcType=VARCHAR, javaType=String}, 
			#{member_name, mode=IN, jdbcType=VARCHAR, javaType=String}, 
			#{member_tel, mode=IN, jdbcType=VARCHAR, javaType=String}, 
			#{member_email, mode=IN, jdbcType=VARCHAR, javaType=String}
		)
	</insert>
	<insert id="creatorJoin" parameterType="com.anotherclass.bitcamp.register.RegisterVO">
		call creator_account_in(
			#{member_id, mode=IN, jdbcType=VARCHAR, javaType=String}, 
			#{member_pw, mode=IN, jdbcType=VARCHAR, javaType=String}, 
			#{member_name, mode=IN, jdbcType=VARCHAR, javaType=String}, 
			#{member_tel, mode=IN, jdbcType=VARCHAR, javaType=String}, 
			#{member_email, mode=IN, jdbcType=VARCHAR, javaType=String},
			#{creator_nick, mode=IN, jdbcType=VARCHAR, javaType=String}
		)
	</insert>
	<select id="adminAccountCreate" parameterType="com.anotherclass.bitcamp.register.RegisterVO" resultType="com.anotherclass.bitcamp.register.RegisterVO" statementType="CALLABLE">
		call admin_account_in(
			#{member_id, mode=IN, jdbcType=VARCHAR, javaType=String}, 
			#{member_pw, mode=IN, jdbcType=VARCHAR, javaType=String}, 
			#{additional_information_one, mode=IN, jdbcType=VARCHAR, javaType=String}, 
			#{additional_information_two, mode=OUT, jdbcType=VARCHAR, javaType=String}
		)
	</select>
	<select id="loginMember" parameterType="com.anotherclass.bitcamp.register.RegisterVO" resultType="com.anotherclass.bitcamp.register.RegisterVO">
		select member_id, member_name, member_img, creator_nick 
		from memberTbl where member_id=#{member_id} and member_pw=#{member_pw}
	</select>
</mapper>