<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.anotherclass.bitcamp.dao.user.ClassListDAO">
	<select id="ClassList" resultType="com.anotherclass.bitcamp.vo.user.ClassListVO">
		<![CDATA[
		 select a.class_no, a.class_name, a.class_price, a.class_thumb, a.class_tag, b.category_name, to_char(c.start_date,'yyyy-MM-DD') start_date
		 from classTbl a, category b, classoption c
         where a.category_no = b.category_no
         and a.class_no = c.class_no
         order by a.class_writedate desc
		]]>
	</select>
	<select id="sortByPrice" resultType="com.anotherclass.bitcamp.vo.user.ClassListVO">
		<![CDATA[
		  select a.class_no, a.class_name, a.class_price, a.class_thumb, a.class_addr1,a.class_tag, a.class_content, to_char(b.start_date,'yyyy-MM-DD') start_date, c.category_name
          from classtbl a, classoption b, category c
          where a.class_no = b.class_no
          and a.category_no = c.category_no
          order by class_price asc
		]]>
	</select>
	<select id="sortByApplyDate" resultType="com.anotherclass.bitcamp.vo.user.ClassListVO">
		<![CDATA[
		  select a.class_no, a.class_name, a.class_price, a.class_thumb, a.class_addr1,a.class_tag, a.class_content, to_char(b.start_date,'yyyy-MM-DD') start_date, c.category_name
          from classtbl a, classoption b, category c
          where a.class_no = b.class_no
          and a.category_no = c.category_no
          order by start_date asc
		]]>
	</select>
	<select id="rangePrice" parameterType="com.anotherclass.bitcamp.vo.user.ClassListVO"  resultType="com.anotherclass.bitcamp.vo.user.ClassListVO">
		<![CDATA[
		   select a.class_no, a.class_name, a.class_price, a.class_thumb, a.class_addr1,a.class_tag, a.class_content, to_char(b.start_date,'yyyy-MM-DD') start_date, c.category_name
          from classtbl a, classoption b, category c
          where a.class_no = b.class_no
          and a.category_no = c.category_no
          and a.class_price >= #{param1}
          and a.class_price <= #{param2}
          order by class_price asc
		]]>
	</select>
	
</mapper>