<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.anotherclass.bitcamp.dao.user.UserCommunityDAO">
  	<select id="CommuDetailAllRecord" resultType="com.anotherclass.bitcamp.vo.user.CommunityVO">
  	<![CDATA[
		select community_no, community_tag, img1,  img_con1, img_con2, img_con3, img_con4, member_id
		from community
		where community_no = #{param1}
		]]>
  	</select>
  	
  	  	<select id="communityAllList" resultType="com.anotherclass.bitcamp.vo.user.CommunityVO">
  	<![CDATA[
		select community_no, community_tag, img1, img_con1, img_con2, img_con3, img_con4, member_id, writedate
		from community
		]]>
  	</select>
  
  </mapper>
  
