<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anotherclass.bitcamp.dao.user.UserClassDAO">
	<select id="selectClassMapList" resultType="com.anotherclass.bitcamp.vo.user.ClassVO">
		<![CDATA[
		select class_no, class_name, class_price, member_id, class_thumb, class_addr1, category_no, class_tag from classTbl
		]]>
	</select>

</mapper>