@charset "UTF-8";


/* 사용자 기본 레이아웃 (헤더, 푸터 등) 스타일 */


/* header */

/*
.inner-lg{
	width:1200px;
	margin:0 auto;
}
*/

#header{
	height:130px;
	border-bottom:1px solid #ccc;
}

#header-top{
	height:40px;
	display:flex;
	justify-content: flex-end;
	padding-top:10px;
}

.tnb{
	width:200px;
	display:flex;
	justify-content: space-between;
	margin-right:30px;
}

.tnb.logout-menu{
	display:none;
}


#header-bottom{
	display: flex;
	justify-content: space-between;
	align-items:center;
	margin-top:20px;
	padding:0 30px;
}

#header-bottom > h1.logo{
	width:268px;
	height:30px;
	text-align: center;
	line-height:110px;
}

h1.logo > a {
	display:block;
	
	background: url(../../img/etc/logo_w268.png) no-repeat;
	background-size:contain;
}


#nav{
	display: flex;
	justify-content: space-between;
}



.search-bar{
	width:270px;
	height:40px;
	outline: none;
	border:1px solid #999;
	border-radius:40px;
	padding:0 15px;
	font-size:15px;
}


#nav .gnb{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#nav .gnb > li > a{
	margin-left:40px;
	font-size:17px;
	font-weight: 500;
	/* font-family: 'GmarketSansMedium', sans-serif; */
}

#nav .gnb > li > a:hover{
	color:#FF385C;
}

.category{
	display: none;
}



/* contents-wrap */

#contents-wrap{
	height:auto; /* 임의 값 */
}







/* footer */

#footer{
	height:250px;
	background-color:#333;
}


















