@charset "UTF-8";



.review-chart{
	height:150px;
	border-radius:8px;
	background-color:#f2f2f2;
}

.class-review-wrap{
	margin-top:30px;
	
}

.class-review-top{
	height:50px;
	line-height:50px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}


.class-review-list > ul > li{
	padding:20px 10px;
	border-bottom:1px solid #ddd;
}



.review-info{
	display:flex;
	justify-content: flex-start;
}

.user-img{
	width:34px;
	height:34px;
	margin-right:10px;
	border-radius:20px;
	overflow:hidden;
	text-align:center;
}

.user-img > img{
	width:100%;
}

.user-review-info{
	font-size:12px;
}




.review-text{
	font-size:14px;
}