@charset "UTF-8";



input::placeholder {color:#aaa;}
input::-webkit-input-placeholder {color:#aaa;}
input:-ms-input-placeholder {color:#aaa;}
 
textarea::placeholder {color:#aaa;}
textarea::-webkit-input-placeholder {color:#aaa;}
textarea:-ms-input-placeholder {color:#aaa;}





#main-slide-prev{
	width:30px;
	height:60px;
	background:url(../../img/etc/prev.png) no-repeat;
	background-size:contain;
}

#main-slide-next{
	width:30px;
	height:60px;
	background:url(../../img/etc/next.png) no-repeat;
	background-size:contain;
}





.contents{
	width:1200px;
}

.class-list-best{
	width:100%;
}